body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  background-color: beige;
  box-sizing: border-box;
  margin: 50px 20px;
  
}
h1{
  text-align: center;
  padding-bottom: 30px;
}

#intro {
  background-color: #f1ecec;
  text-align: justify;
}

